### LaTeX ###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo


#===========================#
# Fichiers générés par Unity#
#===========================#
Unity/Temp/
Unity/Obj/
Unity/Library/
Unity/Assets/AssetStoreTools*

#===============================#
# Visual studio / Mono develop  #
#===============================#

Unity/ExportdObj/
*.svd
*.userprefs
*.csproj
*.pibd
*.suo
*.sln
*.userprefs
*.unityproj
*.booproj

#===================#
# Fichiers systemes #
#===================#
.DS_Store
.DS_Store?
._*
.Spotlight-v100
.Trashes
Icon?
ethumbs.db
Thumbs.db