### LaTeX ###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo


Unity/Build/
Unity/Assets/resources/dalle4_3DS/
Unity/Assets/resources/dalle5_3DS/
presentation/